/* COLORS */
/*FONTS*/
.button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.button__icon {
  position: absolute;
  margin-top: 3px;
}

.button__icon--end {
  margin-left: 10px;
}

/* CLOSE-BTN */
.close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close__btn__icon {
  display: flex;
  fill: #000000;
  align-items: center;
  justify-content: center;
}

/* BTN PORTFOLIO */
.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-bottom: 34px;
  padding-top: 94px;
}

.buttons__item {
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  line-height: 31px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:hover {
  background-color: #2196f3;
  color: #fff;
  background: #2196f3;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1), 2px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
body *,
body *::before,
body *::after {
  margin: 0;
  padding: 0;
}
body ul {
  list-style: none;
}
body img {
  display: block;
  margin: 0;
  padding: 0;
}
body .link {
  text-decoration: none;
  color: #2196f3;
}
body section {
  padding-bottom: 94px;
  padding-top: 94px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ECECEC;
  align-items: center;
  justify-content: space-between;
}
.header .nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-left: auto;
  align-items: space-between;
}
.header .nav__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 46px;
  text-decoration: none;
  line-height: 16px;
  display: block;
}
.header .nav__link:hover, .header .nav__link:focus {
  color: #2196f3;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .link--active::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid #2196f3;
  border-radius: 2px;
  top: 30px;
}
.header .contact {
  display: flex;
}
.header .contact__link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 32px 0px 32px 50px;
  margin-right: 10px;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .contact__link:hover, .header .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.logo {
  display: flex;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  padding-right: 93px;
}
.logo__accent {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo--light {
  color: #fff;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  padding-top: 60px;
}

.head {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
  object-fit: cover;
  top: 80px;
  background-color: #2f303a;
}

.features__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.features__image {
  padding: 25px 100px;
}
.features__link {
  width: 270px;
  height: 120px;
}

.feature {
  padding-top: 30px;
  display: flex;
  gap: 30px;
}
.feature__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}
.feature__text {
  height: 101px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.specialty {
  display: block;
  margin: 0 auto;
}
.specialty__photo {
  display: flex;
  justify-content: space-between;
}
.specialty__thumb {
  position: relative;
}
.specialty__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 27px;
}

.team {
  height: 708px;
  background-color: #f5f4fa;
  display: block;
}
.team__photo {
  display: flex;
  justify-content: space-between;
}
.team__border {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__person {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding: 30px 90px 0;
}
.team__work {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 10px 50px 16px;
  text-align: center;
}

/*CLIENTS*/
.clients {
  display: block;
  margin: 0 auto;
}
.clients .client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients .client__link {
  display: flex;
  width: 170px;
  height: 92px;
  padding: 18px 32px 15px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .client__link:hover,
.clients .client__link:active {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/*BUSINESS*/
.grid {
  width: 1200px;
  height: 1360px;
  display: block;
  padding: 0;
}
.grid__photos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.grid__signature {
  position: relative;
  background-color: #fff;
}
.grid__projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #212121;
  padding: 20px 24px 4px;
}
.grid__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 4px 24px 20px;
}

.box {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.box:hover .overlay,
.box:focus .overlay {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boxes {
  width: 373px;
  height: 408px;
  border: 1px solid #eeeeee;
  background-color: #fff;
  list-style: none;
}

.boxes:hover,
.boxes:focus {
  box-shadow: 3px 10px 8px 2px rgba(0, 0, 0, 0.3);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  background: rgba(33, 150, 243, 0.9);
  color: rgba(255, 255, 255, 0.6);
  padding: 49px 45px 49px 24px;
}
.overlay__description {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #fff;
}

.social__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px 18px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--color {
  fill: #fff;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.title__head {
  width: 696px;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 106px 0 30px;
}
.title__dark {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}
.title__footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
}
.title__form {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 40px 40px 30px;
}

.secondary-contact {
  background-color: #2f303a;
  height: 252px;
}

address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 9px;
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 9px;
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

footer > .container {
  display: flex;
  align-items: center;
}

.social-item {
  padding-top: 30px;
  padding-left: 70px;
}

.news__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.news__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 10px 15px 16px;
  margin: 0;
  background-color: #2f303a;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

/* FORM */
label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label:focus-within {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  font-family: inherit;
  padding-left: 40px;
  padding-right: 40px;
}
.form__icon {
  display: flex;
  position: absolute;
  top: 50%;
  left: 52px;
  outline: none;
}

input {
  padding: 10px;
  padding-left: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

input:focus-within {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  padding-bottom: 20px;
  width: 448px;
  height: 120px;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

textarea:focus-within {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* CHECKBOX */
.modal-form-policy:required {
  border-color: none;
}

.modal-form-policy-text {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 20px 54px 0px;
}

.modal-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: #2196f3;
  border: none;
  border-radius: 2px;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */