body {
  font-family: $logo-font;
  font-family: $primary-font;
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  img {
    display: block;
    margin: 0;
    padding: 0;
  }
  .link {
    text-decoration: none;
    color:$color-accent;
  }
  section{
    padding-bottom: 94px;
    padding-top: 94px;
    margin: 0 auto;
    
  }
}