.head{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url("../images/Img.jpg");
      object-fit: cover;
    top: 80px;
    background-color: #2f303a;
    padding-top: 94px;;

    &__text{
    width: 696px;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 106px 0 30px;
    }
}
.features{
    padding-top: 94px;

    &__block{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        
    }
    &__item {
        padding: 25px 100px;
    }
    &__link{
        width: 270px;
        height: 120px;
        
    }
  
}
.feature{
    padding-top: 30px;
    display: flex;
    gap: 30px;

    &__item{
     font-weight: 700;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #212121;
     padding-bottom: 10px;
    }

    &__text{
     height: 101px;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.03em;
     color: #757575;
    }
}
.specialty{
    padding-top: 94px;
    display:block;
    margin:0 auto;

    &__item{
     font-weight: 700;
     font-size: 36px;
     line-height: 42px;
     letter-spacing: 0.03em;
     color: #212121;
     text-align: center;
     padding-bottom: 50px;
    }

    &__photo{
     display: flex;
     justify-content: space-between;
    }

.thumb{
    position: relative;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    &__label{
     position: absolute;
     font-weight: 700;
     font-size: 14px;
     line-height: 16px;
     text-align:center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #FFFFFF;
     padding-top: 27px;
    }
}
}
.team{
    height: 708px;
    background-color: #f5f4fa;
    display: block;

    &__item{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #212121;
        text-align: center;
        padding-top: 94px;
        padding-bottom: 50px;
    }
    &__photo{
        display: flex;
        justify-content: space-between;
        
    }
    &__border{
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__person{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #212121;
        text-align: center;
        padding: 30px 90px 0;
    }

    &__work{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #757575;
        padding: 10px 50px 16px;
        text-align: center;
    }
}

  