.head{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    max-width: 1600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url("../images/Img.jpg");
      object-fit: cover;
    top: 80px;
    background-color: $bgc-footer;
    

}
.features{

    &__item{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        
    }
    &__image {
        padding: 25px 100px;
    }
    &__link{
        width: 270px;
        height: 120px;
    }
}

.feature{
    padding-top: 30px;
    display: flex;
    gap: 30px;

    &__item{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-gray;
    padding-bottom: 10px;
    }

    &__text{
     height: 101px;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.03em;
     color: $colorGrayLight;
    }
}
.specialty{
    display:block;
    margin:0 auto;
  
  &__photo {
    display: flex;
    justify-content: space-between;
  }
  
 &__thumb{
    position: relative;
   }
  
  &__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align:center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-white;
  padding-top: 27px;
  }
}

.team{
    height: 708px;
    background-color:$bgc-vanila;
    display: block;

    &__photo{
        display: flex;
        justify-content: space-between;
        
    }
    &__border{
        background: $color-white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__person{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: $color-gray;
        text-align: center;
        padding: 30px 90px 0;
    }

    &__work{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: $colorGrayLight;
        padding: 10px 50px 16px;
        text-align: center;
    }
}
/*CLIENTS*/
.clients {
    display: block;
    margin: 0 auto;
 
  .client__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .client__link {
    display: flex;
    width: 170px;
    height: 92px;
    padding: 18px 32px 15px;
    border: 1px solid $border-gray;
    border-radius: 4px;
    fill:  $border-gray;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client__link:hover,
  .client__link:active {
    border: 1px solid $color-accent;
    fill:$color-accent;
  }
}
/*BUSINESS*/
.grid {
  width: 1200px;
  height: 1360px;
  display: block;
  padding: 0;
 

&__photos {
  display: flex;
  flex-wrap:wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  }
&__signature {
  position: relative;
  background-color: $color-white;
  }
&__projects {
  font-weight: 700;
  font-size: 18px;
  line-height:36px;
  letter-spacing: 0.04em;
  color:$color-gray;
  padding: 20px 24px 4px;
  }
&__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: $colorGrayLight;
  padding: 4px 24px 20px;
  }
}

.box {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
 
} 
 .box:hover .overlay,
 .box:focus .overlay {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.boxes {
  width: 373px;
  height: 408px;
  border: 1px solid $colorWhiteDark;
  background-color: $color-white;
  list-style: none;

}
.boxes:hover,
.boxes:focus {
  box-shadow: 3px 10px 8px 2px rgba(0, 0, 0, 0.3);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  background: rgba(33, 150, 243, 0.9);
  color:rgba(255, 255, 255, 0.6);
  padding: 49px 45px 49px 24px;
 
&__description {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $color-white;

}
}